/* common style  */
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 50px;
}
.hr {
  width: 80%;
}

/* header section  */
.flexible-container {
  display: flex;
  background-color: #161616;
  border-radius: 20px;
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  color: white;
  padding-left: 40px;
  padding-top: 40px;
}
.half-width img {
  width: 500px;
}
.button {
  margin-top: 30px;
}
.link-button {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  background-color: #dd0000;
  font-weight: 500;
  padding: 16px 39px;
  border-radius: 5px;
  margin: 0 8px;
  transition-duration: 1s;
}
.link-button:hover {
  background-color: #f50950;
}
.link-button .icon-style {
  padding-left: 7px;
}

/*------------------
 Main part start  
 ------------------*/
.main-part {
  display: flex;
}
.side-button aside {
  display: flex;
  flex-direction: column;
}
.side-button {
  /* width: 20%; */
  display: flex;
  justify-content: center;
  height: 250px;
  background-color: #161616;
  border-radius: 10px;
  margin-bottom: 50px;
}
.side-link-button {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #161616;
  background-color: #ffffff;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
}
#active-button {
  background-color: #dd0000;
  color: #ffffff;
}

/* Feature Match  */
.live-scores {
  /* width: 65%; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 100px;
}
.feature-match {
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 1px 1px 1px #aaaaaa;
  border-radius: 5px;
  padding: 5px;
}

.feature-match img {
  width: 100%;
  /* width: 250px;
  height: 175px; */
}
.match {
  margin-left: 10px;
}
.icons {
  color: #454545;
}
.icon {
  margin-left: 20px;
}
/* Upcomming Match  Design start*/
.live-match {
  width: 300px;
  height: 200px;
  margin: 10px;
  box-shadow: 1px 1px 1px #aaaaaa;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
.live-match img {
  width: 90px;
  height: 50px;
}
.live-team {
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
}
/* Upcomming Match  Design end*/
/* View All  */
.view-all-button {
  display: none;
}
.view-all {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
/* Footer  */
.footer-container {
  width: 100%;
  height: 250px;
  background-color: #161616;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}
.footer-button a {
  text-decoration: none;
  color: #b9b9b9;
  margin-left: 20px;
}
.footer-button a:hover {
  color: #ffffff;
}

/* Media Query for mobile */
@media only screen and (max-width: 688px) {
  .flexible-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 25px;
  }
  .half-width img {
    width: 300px;
  }
  .half-width .text-slice {
    display: none;
  }
  .button {
    font-size: 20px;
  }
  .link-button {
    padding: 10px 15px;
  }
  .main-part {
    display: flex;
    flex-direction: column;
  }
  .side-button aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .live-scores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-button {
    display: flex;
    flex-direction: column;
  }
}
/* Media Query for tab */
@media only screen and (max-width: 992px) and (min-width: 668px) {
  .flexible-container {
    align-items: center;
    text-align: center;
  }
  h1 {
    font-size: 30px;
    line-height: 30px;
  }
  .half-width img {
    width: 300px;
  }
  .half-width .text-slice {
    display: none;
  }
  .main-part {
    display: flex;
    flex-direction: column;
  }
  .side-button {
    width: 100%;
    height: 100px;
  }
  .side-button aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .live-scores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .view-all-button {
    display: block;
  }
  .footer {
    padding: 20px;
  }
  .footer-button {
    margin-top: 30px;
    font-size: 15px;
  }
}
